<div class="row">

  <h1>Edit Bookmark</h1>


  <%= form_for [@topic, @bookmark] do |f| %>

     <%= f.label :name %>
     <%= f.text_field :name, class: 'form-control', placeholder: "Enter name of bookmark" %>

     <%= f.label :url %>
     <%= f.text_field :url, rows: 8, class: 'form-control', placeholder: "Enter URL" %>


     <%= f.submit "Save", class: 'button success' %>

  <% end %>

</div>