<div class="row">

  <h1>Edit Bookmark</h1>

  <p>Guidelines for bookmarks</p>
  
  <ul>
   <li>Make sure it rhymes.</li>
   <li>Don't use the letter "A".</li>
   <li>The incessant use of hashtags will get you banned.</li>
  </ul>

</div>

<div class="row">
  <%= form_for [@topic, @bookmark] do |f| %>

     <%= f.label :name %>
     <%= f.text_field :name, class: 'form-control', placeholder: "Enter name of bookmark" %>

     <%= f.label :url %>
     <%= f.text_field :url, rows: 8, class: 'form-control', placeholder: "Enter URL" %>


     <%= f.submit "Save", class: 'button success' %>

  <% end %>

</div>