
<div class="left-container">

  <%= form_for(current_user) do |f| %>

    <!-- Enter name -->

        <div class="form-box"><%= f.label :name %> <%= f.text_field :name, autofocus: true %></div>


         <% if current_user.avatar? %>
           <p>Current avatar</p>
           <%= image_tag( current_user.avatar.small.url ) %>
        <% end %>
       
         <div class="form-box">
        <%= f.label :avatar %></div>
        <div class="form-box no-border small"><%= f.file_field :avatar %></div>
<br />
        <div class="form-box"><%= f.submit "Update", class: 'button' %></div>
    <% end %><br />

</div>

<div class="right-container">

  <!-- Form starts here -->
  <form>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f| %>
  <%= devise_error_messages! %>

  <!-- Enter email -->

        <div class="form-box">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
        </div>


        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

    <!-- Enter password -->

        <div class="form-box">
        <%= f.label :password %> <%= f.password_field :password, autocomplete: "off" %> <div class="small"><i>(leave blank if you don't want to change it)</i></div>
        
        </div>


      <!-- Enter password again for confirmation -->

        <div class="form-box">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

    <!-- Enter current password to update anything -->

        <div class="form-box">
          <%= f.label :current_password %> <%= f.password_field :current_password, autocomplete: "off" %>
          <div class="small"><i>(we need your current password to confirm your changes)</i></div>
        </div>
        


    <div class="form-box">
      <%= f.submit "Update", class: "button success" %>
      <% end %>
    </div>
    
    <div class="form-box">
      <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button alert" %>
    </div>

    <div class="form-box">
      <%= button_to "Back", :back, class: "button secondary" %>
    </div>

   </div>




  
  </form>
</div>

  <!-- Form ends here -->
  <!-- End of right column -->

