
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  
  <%= form_for(current_user) do |f| %>

    <!-- Enter name -->

        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>


         <% if current_user.avatar? %>
           <p>Current avatar</p>
           <%= image_tag( current_user.avatar.small.url ) %>
        <% end %>
       
         <%= f.label :avatar %><br /><br />
         <%= f.file_field :avatar %>

        <br /><br />
        <%= f.submit "Update", class: 'button' %>
    <% end %><br />



  <!-- Form starts here -->
  <form>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f| %>
  <%= devise_error_messages! %>

  <!-- Enter email -->

        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>


        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

    <!-- Enter password -->

        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>


      <!-- Enter password again for confirmation -->

        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>

    <!-- Enter current password to update anything -->

        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>



    <%= f.submit "Update", class: "button success" %>
      <% end %>

    <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button alert" %> 
    <%= button_to "Back", :back, class: "button secondary" %>




  
  </form>

  <!-- Form ends here -->
  <!-- End of right column -->

