
<!-- The row to wrap them all -->
<div class="row">
  <!-- Form starts here -->
  <form>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  <!-- Keeping it neat with 8 columns -->
  <div class="large-8 columns">



    Sign up

    <!-- Enter name -->
    <div class="row">
    <div class="form-box">

        <%= f.label :name %> <%= f.email_field :name, autofocus: true, class: 'form-control', placeholder: "Enter name" %>
    </div>
    </div>

    <div class="form-box no-border">
    <%= f.label :avatar %>
    <div class="form-box small"><%= f.file_field :avatar %></div>
  </div>

    <!-- Enter email -->
    <div class="row">
      <div class="form-box">
        <%= f.label :email %> <%= f.email_field :email, autofocus: true %>
      </div>
    </div>

    <!-- Enter password -->
      <div class="row">
        <div class="form-box">
          <%= f.label :password %> <%= f.password_field :password, autocomplete: "off" %>
          <% if @validatable %>
          <div class="small">(<%= @minimum_password_length %> characters minimum)</div>
          <% end %>
          
      </div>

    <!-- Enter password again for confirmation -->

      <div class="form-box">
        <%= f.label :password_confirmation %> <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      </div>

      <div class="row">
        <div class="form-box">

        <%= f.submit "Sign up", class: "button success" %>

    <% end %>
      </div>
      </div>
      
    <div class="row">
      <div class="form-box">
       <%= render "devise/shared/links" %>
      </div>
    </div>


  </form>

  <!-- Form ends here -->
  
  <!-- Keeping it neat with 8 columns -->
  </div>
<!-- The row to wrap them all -->  
</div>
