<div class="row">
<div class="large-12 columns">

<h1>New Collection</h1>
 
 <div class="row">

    <div class="large-12 columns">
     <%= form_for @topic do |f| %>
     <% if @topic.errors.any? %>
     <div class="alert-box warning">
       <h4>There are <%= pluralize(@topic.errors.count, "error") %>.</h4>
       <ul>
         <% @topic.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
     </div>
   <% end %>


         <div class="form-box">
          <%= form_group_tag(@topic.errors[:name]) do %>
         <%= f.label :name %>
         <%= f.text_field :name, class: 'form-control', placeholder: "Name of Collection" %>
         <% end %>
         </div>


         <div class="no-border form-box">
          <% if @topic.thumbnail? %>
         <p>Topic Thumbnail</p>
           <%= image_tag( @topic.thumbnail.url ) %>
         <% end %>

         <%= f.label :thumbnail %>
         <div class="form-box small"><%= f.file_field :thumbnail %></div>
         <%= f.hidden_field :thumbnail %>
      </div>

         <div class="form-box">
          <%= f.label :public, class: 'checkbox' do %>
           <%= f.check_box :public %> Public topic
         <% end %>
       </div>

       
       <div class="form-box">
        <%= f.submit "Save", class: 'button success' %>
     <% end %>
   </div>
</div>
</div>