 <div class="row">
   <div class="col-md-8">

    <h1><%= @topic.name %></h1>
 

    <% if policy(@topic).update? %>
    <%= link_to "Edit Topic", edit_topic_path, class: 'button secondary' %> 
    <% end %>

   <% if policy(Bookmark.new).create? %>
   <%= link_to "New Bookmark", new_topic_bookmark_path(@topic), class: 'button secondary' %>
   <% end %>
 

     <p><%= @topic.description %></p>
     <% @bookmarks.each do |bookmark| %>
       <div class="media">
         <div class="media-body">
           <h4>
             <%= link_to bookmark.name, (bookmark.url) %> | <%= bookmark.url %>      
           </h4>
           <h5>
            
              <%= link_to "Edit", edit_topic_bookmark_path(topic_id: @topic, bookmark_id: @bookmark) %> &middot;
              <%= link_to "Delete", topic_bookmark_path(topic_id: @topic), method: :delete, remote: true %>
            
           </h5>
         </div>
       </div>
     <% end %>
   </div>

 </div>