 <div class="row">
  <div class="large-2 columns">
        <%= image_tag(@topic.thumbnail.large.url) if @topic.thumbnail? %>
  </div>

   <div class="large-10 columns">

    <h1><%= @topic.name %></h1>
 

    <% if policy(@topic).update? %>
    <%= link_to "Edit Topic", edit_topic_path, class: 'button secondary' %> 
    <% end %>

   <% if policy(Bookmark.new).create? %>
   <%= link_to "New Bookmark", new_topic_bookmark_path(@topic), class: 'button secondary' %>
   <% end %>
 

     <p><%= @topic.description %></p>
<%= render @bookmarks %>
     
   </div>

 </div>