
<!-- The row to wrap them all -->
<div class="row">

  <!-- Keeping it neat with 8 columns -->
  <div class="large-8 columns">

    Log in

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="form-box">
    <%= f.label :email %> <%= f.email_field :email, autofocus: true %>
      </div>
    </div>

    <div class="row">
      <div class="form-box">
    <%= f.label :password %> <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>

  <% if devise_mapping.rememberable? -%>
    <div class="row">
      <div class="form-box">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      </div>
    </div>
  <% end -%>

    <div class="row">
      <div class="form-box">
    <%= f.submit "Log in", class: "button success" %>
      </div>
    </div>
<% end %>

    <div class="row">
      <div class="form-box">
        <%= render "devise/shared/links" %>
      </div>
    </div>

<!-- Keeping it neat with 8 columns -->
  </div>
<!-- The row to wrap them all -->  
</div>