<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "RECOLLECT" %></title>

    <%= stylesheet_link_tag    "application", "style2" %>

    <%= javascript_include_tag "application", "modernizr.custom" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <div class="container">

  <div class="nav animated fadeIn"> 

           <div id="trigger-overlay">About</div>
           <%= link_to "All Collections", :root %> <br />
           <%= link_to "All Users", users_path %> <br />
           <%= link_to "Personal List", current_user %><br />

           <% if current_user %>
             <%= link_to "Edit Profile", edit_user_registration_path %> <br />
             <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
           <% else %>
             <%= link_to "Sign In", new_user_session_path %> /
             <%= link_to "Sign Up", new_user_registration_path %>
        
           <% end %>


      <!-- open/close -->
    <div class="overlay overlay-corner">

      <nav>
 
    <h2>Recollect</h2>
    <p>The art of collecting is an age-old tradition born out of sentimentality and a digital native's waning ability to remember the many things we encounter on the world wide web. Collect and share meaningful links using Recollect.  </p>

          <p>Created by <a href="http://rachel-lin.com">Rachel Lin</a><p>

          <p class="overlay-close">— Close</p>

      </nav>
    </div>

  <div class="alerts">

       <% if flash[:notice] %>
         <div data-alert class="alert-box success">
           <a href="#" class="close">&times;</a>
           <%= flash[:notice] %>
         </div>
       <% elsif flash[:error] %>
         <div data-alert class="alert-box warning">
           <a href="#" class="close">&times;</a>
           <%= flash[:error] %>
         </div>
       <% elsif flash[:alert] %>
         <div data-alert class="alert-box alert">
           <a href="#" class="close">&times;</a>
           <%= flash[:alert] %>
         </div>
       <% end %>
  </div>

</div>

<div class="content animated fadeIn"> 
<%= yield %>
</div>

</div>


    <%= javascript_include_tag "classie", "demo1" %>



  </body>

</html>
