<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row" id ="header">


    <div class="large-12 columns">
           <%= link_to "All Collections", :root %> /
           <%= link_to "Personal List", current_user %><br />

           <% if current_user %>
             Hello <%= link_to (current_user.email), edit_user_registration_path %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
           <% else %>
             <%= link_to "Sign In", new_user_session_path %> or
             <%= link_to "Sign Up", new_user_registration_path %>
           <% end %>



       <% if flash[:notice] %>
         <div data-alert class="alert-box success">
           <a href="#" class="close">&times;</a>
           <%= flash[:notice] %>
         </div>
       <% elsif flash[:error] %>
         <div data-alert class="alert-box warning">
           <a href="#" class="close">&times;</a>
           <%= flash[:error] %>
         </div>
       <% elsif flash[:alert] %>
         <div data-alert class="alert-box alert">
           <a href="#" class="close">&times;</a>
           <%= flash[:alert] %>
         </div>
       <% end %>

           </div>
    </div>




    <%= yield %>

  </body>
</html>
